@CHARSET "UTF-8";

table{
    width: 100%;
}

td{
    width: 33%;
}

.labeled{
    width:auto;
}

.centeredCell{
    text-align: center;
}

.label{
    width: 10px;
}

input[type='text']{
    width: 100%;
}
