@CHARSET "UTF-8";

.blackboard{
    margin: 0 auto; 
    border: 3px solid lightgray; 
    padding: 10px; 
    width: 240px;
    background-color: darkslategrey;
    color: white;
}

.partyIcon{
    height: 180px;
}

.paramsTable{
    color: inherit;
    margin: auto;
    clear: both;
}

.paramsTable td{
    text-align: right;
}

.leftColumn{
    width: 240px;
    float: left;
    text-align: center;
}

.rightColumn{
    width: 240px;
    float: right;
    text-align: center;
}

.rowDiv{
    clear: both;
}

#transmission{
    margin-left: 280px;
    width: 100%;
    overflow: hidden;
}

#transmission input{
    width: 100%;
}