@CHARSET "UTF-8";

.blackboard{
    margin: 0 auto; 
    border: 3px solid lightgray; 
    padding: 10px; 
    width: 300px;
    background-color: darkslategrey;
    color: white;
}

.partyIcon{
    height: 180px;
    margin-bottom: -30;
}

.paramsTable{
    color: inherit;
    margin: auto;
    clear: both;
    width: 100%;
}

.paramsTable .labelCell{
    width: auto;
    text-align: right;
}

.paramsTable input{
    width: 100%;
}

.column{
    width: 300px;
    display: table-cell;
    text-align: center;
}

.rowDiv{
    display: table;
    width: 100%;
    clear: both;
}

.centerCellDiv{
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: auto;
    padding: 0 40px;
}

.centerCellDiv table{
    width: 100%;
}

.centerCellDiv input{
    width: 100%;
    overflow: hidden;
}

.arrow{
    width: 40px;
    font-size: xx-large;
}

.centerCellDiv .labelCell{
    width: 1px;
}

